<h1 class="sign-up edit-user-page">更新密碼<% resource_name.to_s.humanize %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="sign-up_form">

    <div class="field">
      <%= f.label '新密碼', for: 'new-password' %> <i>（密碼長度至少 <%= @minimum_password_length %> 碼）</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class:'form-control required', id: 'new-password' %>
      <% if @minimum_password_length %>
        <br />
      <% end %>
    </div>

    <div class="field">
      <%= f.label '確認新密碼', for: 'password_confirmation' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control required', id: 'password_confirmation' %>
    </div>

    <div class="field">
      <%= f.label '目前密碼', for: 'current_password' %> <i>（輸入現在的密碼為您確認更改密碼）</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class:'form-control required', id: 'current_password' %>
    </div>

    <div class="actions">
      <%= f.submit '更新密碼', id: 'submit' %>
    </div>

    <%= link_to '取消變更，回到計算頁', calc_path, class: 'btn btn-index', id: 'cancel-btn' %>

  </div>
<% end %>
