<h1 class="sign-up">註冊</h1>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
 
<div class="sign-up_form">
  <div class="field">
    <%= f.label "信箱" %><br />
    <div class="form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control required' %>
    </div> 
  </div>

  <div class="field">
    <%= f.label "密碼" %>
    <div class="form-group">
    <% if @minimum_password_length %>
    <em>（註冊密碼長度至少 <%= @minimum_password_length %> 碼）</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:'form-control required' %>
    </div>
  </div>

  <div class="field">
    <%= f.label "確認密碼" %><br />
    <div class="form-group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control required' %>
    </div>
  </div>
      
  <%= f.label '性別' %><em>（會影響估計）</em><br />
  <div class="row">
    <div class="col-9">
      <div class="form-group radio_input">
        <label class="container_radio">男
          <input type="radio" name="gender" value="Male" class="required">
          <span class="checkmark"></span>
        </label>
        <label class="container_radio">女
          <input type="radio" name="gender" value="Female" class="required">
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
  </div>

  <div class="field">
     <%= f.label "體重" %>（公斤）：<br />
     <div class="form-group">
     <input type="number" name="user[weight]" id="user_weight", class="form-control required" min="0" />
     </div>
  </div>  
         
<div>
    <%= f.submit "送出", id: 'submit' %>
 </div>
<% end %>

<% render "devise/shared/links" %>

