<%= include_gon %>
<div class="container-fluid full-height">
  <div class="row row-height">
    <div class="col-lg-6 content-left">
      <div class="content-left-wrapper">
        <div class="wrapped">
          <div class="container-btn-change-page">
            <%= link_to '選一種酒', calc_path, class: "forward btn-change-page" %>
            <%= link_to '調酒紀錄', record_user_define_calc_path, class: "forward btn-change-page" %>
            <%= link_to '自製調酒', user_define_calc_path, class: "forward btn-change-page" %>
          </div>

          <div id="middle-wizard1">
            <div class="step1">
              <h3 class="main_question">選擇自己做的調酒：</h3>
              <div id="calc-drinks">
                <% if current_user.user_defines.any? %>
                  <% current_user.user_defines.each do |user_define| %>
                    <div class="form-group">
                      <label class="calc-drink-label">
                        <input 
                          type="radio" 
                          name="question_1" 
                          value="<%= user_define.volume_alcohol %>" 
                          class="required"
                          onchange="getVals(this, 'question_1');" 
                          id="<%= user_define.name %>" 
                          data="<%= user_define.name %>"
                        >
                        <span class="checkmark"></span>
                        <div class="calc-img-container">
                          <img class="shaker" src="https://images2.imgbox.com/15/b1/IgbK3rN4_o.png">
                        </div>
                        <div class="calc-drink-name"><%= user_define.name %></div>
                        <div class="concentration"><%= user_define.volume_alcohol %> %</div>
                        <%= link_to 'x', 
                          user_define_path(user_define), 
                          class: 'delete-btn',
                          method: 'delete', 
                          data: { confirm: '確認刪除嗎?!' } 
                        %>
                      </label>
                    </div>
                  <% end %>
                <% else %>
                  <h4>（尚未建立調酒清單）</h4>
                <% end %>
              </div>
            </div>
          </div>
          <button id="next-step" type="button" name="forward" class="forward">下一步</button>
        </div>
        <!-- /content-left-wrapper -->
      </div>
    </div>
    <!-- /content-left -->

    <div class="col-lg-6 content-right d-none" id="start">
      <div id="wizard_container">
        <div id="middle-wizard">
          <div id="time-unit" class="step2">
            <h3 class="main_question">設定時間與單位：</h3>
            <div class="form-group">
              <label for="time-before">多久前開始：</label>
              <div class="styled-select clearfix">
                <select id="time-before" class="wide required" name="time-before">
                  <option value="0">還沒開始</option>
                  <option value="30">0 時 30 分 前</option>
                  <option value="60">1 時 00 分 前</option>
                  <option value="90">1 時 30 分 前</option>
                  <option value="120">2 時 00 分 前</option>
                  <option value="150">2 時 30 分 前</option>
                  <option value="180">3 時 00 分 前</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="time-after">多久後結束：</label>
              <div class="styled-select clearfix">
                <select id="time-after" class="wide required" name="time-after">
                  <option value="0">馬上</option>
                  <option value="30">0 時 30 分 後</option>
                  <option value="60">1 時 00 分 後</option>
                  <option value="90">1 時 30 分 後</option>
                  <option value="120">2 時 00 分 後</option>
                  <option value="150">2 時 30 分 後</option>
                  <option value="180">3 時 00 分 後</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="unit">一杯的單位：</label>
              <div class="styled-select clearfix">
                <select id="unit" class="wide required" name="unit">
                  <optgroup label="啤酒常用">
                    <option value="330">鋁罐（小）330ml</option>
                    <option value="500">鋁罐（大）500ml</option>
                    <option value="330">玻璃瓶（小）330ml</option>
                    <option value="600">玻璃瓶（大）600ml</option>
                  </optgroup>

                  <optgroup label="葡萄酒常用">
                    <option value="150">紅酒、白酒杯（2/3滿）150ml</option>
                    <option value="150">香檳杯（3/4滿） 150ml</option>
                  </optgroup>

                  <optgroup label="烈酒常用">
                    <option value="44.5">Shot 44.5ml</option>
                    <option value="10">一口杯 10ml</option>
                  </optgroup>
                </select>
              </div>
            </div>
            <button id="to-result" type="button" name="forward" class="forward">計算結果</button>
          </div>
          <!-- /step-->
          <div id="result-step" class="submit step3 d-none">
            <h3 class="main_question d-none"><strong>3/3</strong>計算結果</h3>
            <div id="result" class="result">
              <div class="container-man-figure">
                <img id="man-figure" src="https://images2.imgbox.com/4e/e5/oQMFkzhA_o.png" alt="人形叉燒包">
                <img id="water-level" src="https://images2.imgbox.com/40/3d/olTFpoWf_o.png" alt="水線圖叉燒包">
              </div>

              <div class="d-flex flex-column justify-content-between container-btn">
                <!-- Button trigger modal -->
                <button id="level5" type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter">
                  「斷片」： 啤酒 6.2 杯
                </button>
                <button id="level4" type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter">
                  噁心想吐： 啤酒 5.1 杯
                </button>
                <button id="level3" type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter">
                  亢奮： 啤酒 3.4 杯
                </button>
                <button id="level2" type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter">
                  心情愉悅： 啤酒 1.7 杯
                </button>
                <button id="level1" type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter">
                  （正常）： 啤酒 0.8 杯
                </button>
              </div>
              <button id="to-time-unit" type="button" name="forward" class="forward">重新選擇</button>
            </div>
          </div>
          <!-- /step-->
        </div>
        <!-- /middle-wizard -->
      </div>
      <!-- /Wizard container -->
    </div>
    <!-- /content-right-->

    <!-- Modal terms -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLongTitle">心情愉悅： 啤酒 1.7 杯</h4>
          </div>
          <div class="modal-body">
            <h5 id="modal-bac">血酒濃度: 0.30 % </h5>
            <div class="info">
              <h5>行為表徵</h5>
              <ul>
                <li class="level1">（感覺正常）</li>

                <li class="level2">溫和欣快感</li>
                <li class="level2">感到放鬆、愉悅</li>
                <li class="level2">開始話多</li>
                <li class="level2">抑制力下降</li>

                <li class="level3">變得外向</li>
                <li class="level3">感覺開始會變得麻木</li>
                <li class="level3">無抑制力</li>

                <li class="level4">非常多話</li>
                <li class="level4">喧嘩吵鬧</li>
                <li class="level4">可能頭暈嘔吐</li>

                <li class="level5">頭暈嘔吐</li>
                <li class="level5">目光呆滯；恍惚</li>
                <li class="level5">情緒起伏、失去理解力</li>
                <li class="level5">感覺麻木、性慾下降</li>
                <li class="level5">可能會陷入昏迷</li>
              </ul>

              <h5>影響及損害</h5>
              <ul>
                <li class="level1">（透過特殊試驗可測得些微影響）</li>

                <li class="level2">專注力</li>

                <li class="level3">推理</li>
                <li class="level3">周邊視覺、對深度的感知</li>
                <li class="level3">從暗處到明處的視覺恢復能力</li>

                <li class="level4">反應時間、條件反射</li>
                <li class="level4">大部肌肉動作控制</li>
                <li class="level4">口齒不清、步履蹣跚</li>
                <li class="level4">暫時性陽痿</li>

                <li class="level5">肌肉動作控制嚴重受損</li>
                <li class="level5">失去意識</li>
                <li class="level5">記憶空白</li>

              </ul>
              <h5 id="after-drink">於 0 小時 58 分後低於酒測值水準（0.25 %）</h5>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">我知道了</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal -->

  </div>
  <!-- /row-->
</div>