<%# 21:55 06.16 進度: 待將 drink_id, ingredient_volume_alcohol, ratio 參數以 array 形式傳回至此 %>
<%# 22:20 06.16 進度: 該如何將 array 參數傳至 user_define#create? 此頁的 array 傳不過去 %>
<%# 11:02 06.16 搞定了 送喇 %>

<%= form_tag('/calc/user_define/add_ingredient') do %>
  <%= fields_for :ingredients do |field| %>
    <div>

      <label for="drink_id">材料名：</label>
      <select name="drink_id" id="drink_id">
        <% @drinks.each do |drink| %>
          <option value="<%= drink.id %>">
            <%= drink.name %>（常為 <%= drink.volume_alcohol %> %）
          </option>
        <% end %>
      </select>
    </div>

    <div>
      <label for="volume_alcohol">材料濃度（%）：</label>
      <input type="number" name="volume_alcohol" id="volume_alcohol" step="0.1" min="0" max="100">  
    </div>

    <div>
      <label for="ratio">所佔比例：</label>
      <input type="number" name="ratio" id="ratio" placeholder="輸入比例" min="1">  
    </div>
  <% end %>

  <input type="submit" class="col-2" value="新增品項">
<% end %>


<%= form_tag('/user_define') do |form| %>  
  <input name="user_id" type="hidden" value="<%= current_user.id %>">

  <div class="alc-select">

    <div class="col-12 container-scroll">
      <% if session[:yo] != nil %>
        <% session[:yo].each do |ingredient| %>
          <label class="option" for="">
            <div class="img-container">
              <img src="https://fakeimg.pl/300x300/aaf">
            </div>
            <div class="name"><%= name(ingredient["drink_id"].to_i) %></div>
            <div class="concentration"><%= ingredient["volume_alcohol"] %> %</div>
            <div class="ratio">比例：<%= ingredient["ratio"] %></div>

            <a class="btn" 
              data-method="delete"  
              href="/calc/user_define/delete_ingredient/<%= session[:yo].index(ingredient) %>"
              rel="nofollow"
              data-confirm="Are you sure?"
            >X</a>
          </label>
        <% end %>              
      <% end %>
    </div>

    <label for="name">最後請輸入飲料ㄉ名字，必填ㄛ：</label>
    <input name="name" type="text" placeholder="例：卍超級好喝卍">

    <input type="submit" class="col-2" value="儲存">
  </div>

<% end %>

