<h1 class="forgot-password">更改密碼</h1>


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="forgot_form">
  <div class="field">
    <%= f.label :password, "請輸入新密碼" %>
    <div class="form-group">
    <% if @minimum_password_length %>
      <em>(註冊密碼長度至少 <%= @minimum_password_length %> 碼)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:'form-control required' %>
  </div>

  <div class="field">
  <div class="form-group">
    <%= f.label :password_confirmation, "確認新密碼" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control required' %>
  </div>
  

  <div class="actions">
    <%= f.submit "確定",  id: 'submit' %>
  </div>
<% end %>

