<h1 class="sign-up">登入</h1>

  <div class="sign-up_form">
  <div class="step">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label '信箱' %><br />
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control required' %>
        </div> 
      </div>

      <div class="field">
        <%= f.label '密碼' %><br />
        <div class="form-group">
          <%= f.password_field :password, autocomplete: "current-password", class:'form-control required' %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit '登入', id: 'submit' %>
      </div>
    <% end %>

    <!-- devise/shared/links 裡有內建，先看看合不合適 -->
    <%#= link_to '使用 Google 帳號登入', user_google_oauth2_omniauth_authorize_path %>

    <%= render "devise/shared/links" %>
  </step>
</div>