<!DOCTYPE html>
<html>
  <head>
    <title>Oo今夜想買醉oO</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Layout Credit: 'Wilio Survey, Quotation, Review and Register form Wizard by Ansonika.'">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- need a desginated render area for error messages -->
    <%#= notice %>
    <%= render 'shared/nav' %>
    <%= yield %>
  </body>
</html>
