<!DOCTYPE html>
<html>
  <head>
    <title>今夜想買醉</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Layout Credit: 'Wilio Survey, Quotation, Review and Register form Wizard by Ansonika.'">
    <link rel="shortcut icon" href="<%= image_url('favicon.ico') %>" type="image/x-icon">
    <link rel="icon" href="<%= image_url('favicon.ico') %>" type="image/x-icon">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="success_explanation">
      <p><%= notice %></p>
    </div>
    <div id="error_message">
      <% if current_user %>
        <% if current_user.errors.any? %>
          <% current_user.errors.full_messages.each do |message| %>
          <p><%= message %></p>
          <% end %>
        <% end %>
      <% elsif %>
        <p><%= flash[:alert] %></p>
      <% end %>
    </div>
    <a href="<%= root_path %>" id="logo">
      <img src="https://images2.imgbox.com/15/b1/IgbK3rN4_o.png" alt="">
    </a>

    <%= render 'shared/nav' %>
    <%= yield %>
    <div class="copy">
      <span class="copy__text">
        © 2019 今夜想買醉；酒後請勿駕車
      </span>
    </div>
  </body>
</html>
